<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GW_API_KEY</key>
	<string>a1b2c3d4</string>
	<key>MAIN_ACCOUNT</key>
	<string>a1b2c3d4</string>
	<key>IDENTIFICATION_DOCUMENT_DRIVERS_LICENCE</key>
	<string>1</string>
	<key>IDENTIFICATION_DOCUMENT_MYNUMBER</key>
	<string>1</string>
	<key>IDENTIFICATION_DOCUMENT_PASSPORT</key>
	<string>1</string>
	<key>IDENTIFICATION_DOCUMENT_RESIDENCE</key>
	<string>1</string>
	<key>IDENTIFICATION_DOCUMENT_SPECIAL_PERMANENT_RESIDENT_CERTIFICATE</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_1</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_2</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_3</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_4</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_5</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_6</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_7</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_8</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_9</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_10</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_11</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_12</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_13</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_14</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_15</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_16</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_17</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_18</key>
	<string>1</string>
	<key>CHECK_OCR_STATUS_19</key>
	<string>1</string>
	<key>LIVENESS_ACTION_LIMIT</key>
	<string>1</string>
	<key>SHOOT_THICKNESS_LIMIT</key>
	<string>1</string>
	<key>OCR_LIMIT</key>
	<string>1</string>
	<key>LIVENESS_TYPE</key>
	<string>1</string>
	<key>LIVENESS_TIMEOUT</key>
	<string>1</string>
	<key>LIVENESS_ACTION_COUNT</key>
	<string>1</string>
	<key>LOG_OUTPUT_LIMIT</key>
	<string>1</string>
	<key>IMG_MASK</key>
	<string>1</string>
</dict>
</plist>
